@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;


}

body {

    font-family: sans-serif;
    background-color: rgb(126, 40, 180);
    
}

header {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    

    width: auto;
    height: max-content;
    background-color: rgb(0, 0, 0);
    padding: 5px 5%;

}

header .logo img {

    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: auto;
    padding: 10px;
    border-radius: 90px;
    text-shadow: 0;


}

.logo{
    align-items: center;


}
header .menu li a {
    text-decoration: none;
    font-size: 700;


}

header .menu li:hover {
    transform: scale(1.1);
    color: whitesmoke;





}

nav {
    display: flex;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    background-color: rgb(0, 0, 0);


}

.navegacion_nav li ul {

    justify-content: flex-end;

}

.menu {
    margin: 0;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a {
    color: whitesmoke;
}


.menu li {

    display: inline;
    margin: 10px;
    margin-top: 30px;

}

h1 {
    color: white;
}

main {
    height: auto;
    width: auto;
    display: grid;
}

.image {
    display: grid;
    justify-content: center;
    
}

.image>.frente {


    justify-content: center;
    align-self: center;
    height: 400px;
    width: auto;
    border-radius: 8px;
}


.menucafe>.fotomenu {

    justify-content: center;
    align-self: center;
    height: 400px;
    width: auto;
    border-radius: 8px;

}


.jumbotron {
    background-image: url(images/pexels-afta-putta-gunawan-683039.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 0%;
    position: relative;

}

p {
    text-align: justify;


}


div.Sobre_nosotros {

    margin-top: 50px;
    margin-bottom: 10px;


}

.menucafe {
    display: grid;
    justify-content: center;

}


footer {

    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    color: white;
    background-color: #000000;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    text-transform: uppercase;
    padding: 20px;
    float: left;
    



}

footer i {
    letter-spacing: 20px;
    font-size: 40px;
    color: blueviolet;

}

footer i:hover {
    text-shadow: 0 0 5px #fff;

}

footer p {
    text-align: center;
}

.img1 {
    width: 782px;
    aspect-ratio: auto 782 / 355;
    height: 355px;
}

footer {
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}


h3{
    background-color: blueviolet;
    text-align: center;
    padding: 10px;
    margin: 0;
    border: 2px solid black;
}

.nleft{

    background-image: url(images/Menu\ cafe\ 1.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    filter: grayscale(50%);
    
}

.nrigth h4{
    text-align: center;
    text-shadow: 0 0 5px blueviolet;

}

h5{
    background-color: #000000;
    margin: 0;
    padding: 10px;
    text-align: center;
    color: white;
}

.item{
    height: 200px;
    border: 3px solid blueviolet;
    margin: 0;
}

.item1{
    background-image: url(images/cafe23.jpg);
    background-position: center;
    background-size: cover;

}
.item2{
    background-image: url(images/Croasant.jpg);
    background-position: center;
    background-size: cover;

}
.item3{
    background-image: url(images/churrotes2.jpg);
    background-position: center;
    background-size: cover;

}
.item4{
    background-image: url(images/istockphoto-1366930231-170667a.jpg);
    background-position: center;
    background-size: cover;

}
.item5{
    background-image: url(images/pexels-arshad-sutar-1749303.jpg);
    background-position: center;
    background-size: cover;

}
.item6{
    background-image: url(images/z-graphica-FxfCQht9VPE-unsplash.jpg);
    background-position: center;
    background-size: cover;

}
.item7{
    background-image: url(images/menu\ 2.jpg);
    background-position: center;
    background-size: cover;

}

.item8{
    background-image: url(images/churrotes.jpg);
    background-position: center;
    background-size: cover;

}

.item9{
    background-image: url(images/croasant\ 2.jpg);
    background-position: center;
    background-size: cover;

}
.conteiner-fluid-desayunos{
    margin:0;
}

.footermenu{

    margin: 0;


}

div p { 
        text-align: center;
}



.card-text {
    text-align: justify;
}

.card-img-top {

    justify-content: center;

   height: 412px;
   width: 330px;

}



